/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  :root {
    --fontSize-1: 5.6rem;
    --fontSize-5: 3.2rem;
  }

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .hero .banner-outline {
    max-width: 410px;
  }

  .hero .banner-outline::after {
    right: -15px;
  }

  .service .container {
    max-width: unset;
  }

  .service-list {
    display: flex;
    flex-wrap: wrap;
  }

  .service-item {
    width: 50%;
  }

  .service-item:nth-child(2n) {
    border-inline-start: 1px solid var(--border-eerie-black);
  }

  .service-card .card-title {
    --fontSize-5: 2.4rem;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  :root {
    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fontSize-1: 6.6rem;

    /**
     * SPACING
     */

    --section-spacing: 100px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  /**
   * HERO
   */

  .hero {
    text-align: left;
  }

  .hero .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
  }

  .banner-outline {
    order: 1;
  }

  .hero .btn {
    margin-inline: 0;
  }

  /**
   * SERVICE
   */

  .service-item {
    width: 25%;
  }

  .service-item:not(:last-child) {
    border-inline-end: 1px solid var(--border-eerie-black);
  }

  /**
   * ABOUT
   */

  /**
   * PROJECTS
   */

  .slider-item {
    min-width: calc(50% - 15px);
  }

  /**
   * CUSTOM CURSOR
   */

  .cursor-dot,
  .cursor-outline {
    display: block;
    position: fixed;
    top: -60px;
    left: -60px;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-circle);
    z-index: 10;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
  }

  .cursor-dot {
    width: 60px;
    height: 60px;
    background-color: var(--bg-white);
    transform: translate(-50%, -50%) scale(0.1);
  }

  .cursor-dot.hovered {
    transform: translate(-50%, -50%) scale(1);
    mix-blend-mode: exclusion;
  }

  .cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid var(--border-white);
    opacity: 0.5;
    transition-duration: 100ms;
  }

  .cursor-outline.hovered {
    opacity: 0;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /** 
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fontSize-2: 7rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  /**
   * HEADER
   */

  .header .container {
    margin-inline: 0;
    min-width: 100%;
  }

  .nav-open-btn,
  .navbar-top {
    display: none;
  }

  .navbar {
    all: unset;
    display: block;
  }

  .navbar-list {
    display: flex;
    gap: 16px;
  }

  .header .btn {
    display: flex;
  }

  .hero .container {
    grid-template-columns: 1fr 0.7fr;
  }

  .hero .banner-outline {
    max-width: 366px;
  }

  .hero .wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .hero .btn {
    flex-shrink: 0;
  }

  .service {
    border-block-end: 1px solid var(--border-eerie-black);
  }

  .service-list {
    gap: 158px;
    flex-wrap: nowrap;
  }

  .service .service-item {
    border-inline: 1px solid var(--border-eerie-black);
    border-block-end: none;
  }

  .slider-item {
    min-width: calc(33.33% - 20px);
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * TYPOGRAPHY
     */

    /* font size */
    --fontSize-2: 9rem;
    --fontSize-4: 4rem;
    --fontSize-5: 4rem;
    --fontSize-6: 2rem;
  }

  /**
   * REUSED STYLE
   */

  .container,
  .service .container {
    max-width: 1200px;
  }

  .h1 {
    line-height: 1.1;
  }

  /**
   * HEADER
   */

  .header {
    padding-block: 40px;
  }

  .header .container {
    padding-inline: 60px;
  }

  .navbar-list {
    gap: 50px;
  }

  /**
   * HERO
   */

  .hero {
    padding-block-start: 160px;
  }

  .hero .banner-outline {
    max-width: 410px;
  }

  .hero-text {
    max-width: 30ch;
  }

  /**
   * ABOUT
   */
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
  /** 
   * REUSED STYLE
   */

  .container,
  .service .container {
    max-width: 1320px;
  }

  /**
   * HEADER
   */

  .header {
    padding-inline: 90px;
  }

  /**
   * HERO
   */

  .hero .container {
    grid-template-columns: 1fr 0.85fr;
  }
}
@media (max-width: 1079px) {
  .skills-container .skill-box {
    flex-basis: 100%;
  }
}
@media (max-width: 873px) {
  .about-left {
    flex-basis: 100%;
  }
  .about-rigth {
    margin-top: 2rem;
    flex-basis: 100%;
  }
}

@media (max-width: 1200px) {
  .service-box {
    flex-basis: 47%;
  }
}
@media (max-width: 900px) {
  .service-box {
    flex-basis: 48%;
  }
  .service-box .service-heaing {
    font-size: 20px;
  }
}
@media (max-width: 780px) {
  .service-box {
    flex-basis: 100%;
  }
  .service-box .service-heaing {
    font-size: 25px;
  }
}
@media (max-width: 520px) {
  .services-container {
    padding: 0.4rem;
  }
  .service-box .service-heaing {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .portfolio-section .portfolio-heading {
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .portfolio-section .portfolio-heading {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .testimonials .slideshow-container {
    height: 90vh;
  }
}
@media (max-width: 850px) {
  .testimonials .slideshow-container {
    height: 80vh;
  }
  .testimonials .slideshow-container {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 550px) {
  .testimonials .slideshow-container {
    height: 90vh;
  }
}
@media (max-width: 1000px) {
  .contact-container {
    margin-top: 10px;
  }
  .contact-container .contact-form {
    flex-basis: 100%;

    padding-right: 4rem;
  }
}

@media (max-width: 630px) {
  .contact-container .contact-address {
    flex-basis: 100%;
  }

  .contact-address .social-address {
    padding: 1rem;
  }
  .social-address .social-address-icon {
    font-size: 25px;

    padding: 20px;
  }
}

@media (max-width: 470px) {
  .contact-address .social-address {
    padding: 1rem;
  }
  .social-address .social-address-icon {
    font-size: 20px;

    padding: 10px;
  }
}
@media (max-width: 1200px) {
  .footer {
    height: auto;
  }
}
@media (max-width: 780px) {
  .footer .footer-container {
    padding: 1rem;
  }
  .footer .footer-container .footer-left {
    flex-basis: 100%;
  }
  .footer .footer-container .footer-rigth {
    margin-top: 20px;
  }

  .footer-bottom .links {
    flex-basis: 100%;
    margin-top: 0rem;
    align-items: flex-start;
  }
  .footer-bottom .copyrigth {
    flex-basis: 100%;
    margin-top: 0rem;
    text-align: left;
  }
}
