:root {
  /* background colors */
  --bg-white: hsla(0, 0%, 100%, 1);
  --bg-light-gray: hsla(240, 1%, 83%, 1);
  --bg-jet: hsla(0, 0%, 18%, 1);
  --bg-eerie-black: hsla(0, 0%, 13%, 1);
  --bg-rich-black-fogra-29: #c6a514;
  --bg-smoky-black: #1b6dc1;
  --bg-black: #c6a514;

  /* gradient colors */
  --gradient-1: linear-gradient(to top, var(--bg-black) 0%, transparent 40%);
  --gradient-2: radial-gradient(
    circle at 75% 100%,
    hsla(79, 100%, 70%, 0.3) 0%,
    transparent 100%
  );

  /* text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-light-gray: hsla(240, 1%, 83%, 1);
  --text-rich-black-fogra-29: hsla(216, 42%, 12%, 1);
  --text-smoky-black: hsla(0, 0%, 6%, 1);
  --text-black: hsla(0, 0%, 0%, 1);

  /* border colors */
  --border-white: hsla(0, 0%, 100%, 1);
  --border-light-gray: hsla(240, 1%, 83%, 1);
  --border-gainsboro: hsla(220, 13%, 91%, 1);
  --border-eerie-black: hsla(0, 0%, 13%, 1);
  --border-smoky-black: hsla(0, 0%, 6%, 1);

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --fontFamily-recoleta: "Recoleta";
  --fontFamily-roboto: "Roboto", sans-serif;

  /* font size */
  --fontSize-1: 4.6rem;
  --fontSize-2: 4.5rem;
  --fontSize-3: 4rem;
  --fontSize-4: 3rem;
  --fontSize-5: 2.4rem;
  --fontSize-6: 1.8rem;
  --fontSize-7: 2rem;
  --fontSize-8: 1.6rem;
  --fontSize-9: 1.5rem;
  --fontSize-10: 1.4rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;

  /**
   * SPACING
   */

  --section-spacing: 70px;

  /**
   * BORDER RADIUS
   */

  --radius-pill: 500px;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: "Syne", sans-serif;
}

body {
  background-color: var(--bg-white);
  color: var(--text-light-gray);
  font-family: "Syne", sans-serif;
  font-size: var(--fontSize-8);
  line-height: 1.75;
  overflow: hidden;
}

body.loaded {
  overflow-y: auto;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-inline-start: 1px solid var(--border-eerie-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-white);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
  font-family: "Syne", sans-serif;
}

.btn\:hover {
  position: relative;
  z-index: 1;
}

.btn\:hover::before,
.btn\:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition-1);
  will-change: transform;
  pointer-events: none;
}

.btn\:hover::after {
  border: 1px solid var(--bg-white);
  transform: scale(1.2);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::before {
  transform: scale(0.5);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::after {
  transform: scale(1);
  opacity: 1;
}

.text-center {
  text-align: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--bg-jet);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-tilt] {
  transition: var(--transition-3);
}

.title {
  color: var(--text-white);
  font-family: var(--fontFamily-recoleta);
  font-weight: var(--weight-regular);
}

.h1 {
  font-size: var(--fontSize-2);
  line-height: 1.2;
}

.h2,
.h3,
.h4,
.h5 {
  line-height: 1.3;
}

.h2 {
  font-size: var(--fontSize-3);
  font-family: "Syne", sans-serif;
}

.h3 {
  font-size: var(--fontSize-4);
  font-family: "Syne", sans-serif;
}

.h4 {
  font-size: var(--fontSize-5);
  font-family: "Syne", sans-serif;
}

.h5 {
  font-size: var(--fontSize-7);
  font-family: "Syne", sans-serif;
}

.h6 {
  font-size: var(--fontSize-6);
}

.btn {
  color: var(--text-white);
  font-size: var(--fontSize-9);
  font-weight: var(--weight-medium);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  height: 56px;
  padding-inline: 30px;
  font-family: "Syne", sans-serif;
}

.btn::before {
  background-color: #c6a514;
}

.btn ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 50px;
}

.section {
  padding-block: var(--section-spacing);
  overflow-x: hidden;
}

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 var(--bg-white),
    inset -55vw 0 0 0 var(--bg-white);
  display: grid;
  place-items: center;
  z-index: 10;
}

.preloader.loaded {
  transition: 300ms ease 500ms;
  pointer-events: none;
  box-shadow: inset 0 0 0 0 var(--bg-white), inset 0 0 0 0 var(--bg-white);
}

.preloader .line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-black);
  transition: var(--transition-2);
  animation: loading 1000ms linear forwards;
}

@keyframes loading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(0.3);
  }
}

.preloader.loaded .line {
  animation: loaded 500ms ease forwards;
}

@keyframes loaded {
  0% {
    transform: scaleY(0.3);
  }

  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header img {
  width: 180px;
  height: 50px;
}
.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-eerie-black);
  padding-block: 20px;
  z-index: 4;
  font-family: "Syne", sans-serif;
}

.header.active {
  position: fixed;
  background-color: var(--bg-jet);
  padding-block: 10px;
  animation: slideIn 500ms ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  gap: 6px;
}

.nav-open-btn .line {
  width: 24px;
  height: 2px;
  background-color: var(--bg-black);
  transition: var(--transition-1);
}

.nav-open-btn:is(:hover, :focus-visible) .line {
  background-color: var(--bg-white);
}

.nav-open-btn:is(:hover, :focus-visible) .line-1 {
  transform: scaleX(0.7);
}

.nav-open-btn::before {
  background-color: var(--bg-white);
}

.nav-open-btn::after {
  background-color: var(--bg-black);
}

.navbar {
  position: fixed;
  background-color: var(--bg-eerie-black);
  top: 0;
  left: -300px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  padding: 25px 20px;
  visibility: hidden;
  transition: 250ms var(--cubic-in);
  z-index: 3;
}

.navbar.active {
  transform: translateX(300px);
  visibility: visible;
  transition: 500ms var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 20px;
  border-block-end: 1px solid var(--border-smoky-black);
  margin-block-end: 10px;
}

.nav-close-btn {
  width: 30px;
  height: 30px;
  background-color: var(--bg-smoky-black);
  color: var(--text-white);
  font-size: 2rem;
  display: grid;
  place-items: center;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.navbar-link {
  padding: 8px;
  margin-block-start: 4px;
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--text-white);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  padding-block-start: 120px;

  background-color: var(--bg-black);
  font-family: "Syne", sans-serif;
}

.hero .container {
  display: grid;
  gap: 50px;
}

.banner-outline {
  position: relative;
  max-width: max-content;
  margin-inline: auto;
}

.hero-banner {
  position: relative;
  border-radius: var(--radius-pill);
}

.banner-outline .span {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--fontSize-4);
  min-width: max-content;
  z-index: 1;
}

.hero .btn {
  margin-block: 20px;
  margin-inline: auto;
  border: 1px solid #ffff;
}

.hero-content .start-p {
  font-family: "Syne", sans-serif;
  color: var(--bg-smoky-black);
  font-size: 25px;
  font-weight: bold;
}
.hero-content .hero-introduction {
  color: #ffff;
  line-height: 3.5rem;
}

.hero-content h1 {
  color: #ffff;
  font-family: "Syne", sans-serif;
}

p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
  font-family: "Syne", sans-serif;
}

.animation {
  height: 45px;
  overflow: hidden;
  margin-top: 2rem;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 4rem;
  margin-bottom: 2.81rem;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: "Syne", sans-serif;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #1b6dc1;
  padding: 1rem 2rem;
}
.second div {
  background-color: var(--bg-eerie-black);
  padding: 1rem 2rem;
}
.third div {
  background-color: #c10528;
  padding: 1rem 2rem;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

/* About me section */

.about-section {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: var(--bg-eerie-black);
  padding: 4rem 2rem 3rem 2rem;
  font-family: "Syne", sans-serif;
  border-bottom: 1px solid hsla(229, 10%, 57%, 1);
}
.about-left {
  width: 100%;
  height: 100%;
  flex-basis: 45%;
}
.about-left .about-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.about-rigth {
  border: 1px soli red;
  flex-basis: 50%;
  font-family: "Syne", sans-serif;
}

.tab-container ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-left: 10px;
}
.tab-container ul li p {
  color: #fff;
  background-color: #1b6dc1;
  cursor: pointer;

  padding: 4px 20px;

  font: 16px;

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
}

.tab-btn:is(:hover, :focus-visible, .active) {
  background: var(--bg-black);
}
.tab-container ul li p.active::after {
  content: " ";
  width: 0;
  height: 0;

  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #ffff transparent transparent transparent;

  position: absolute;
  bottom: -11px;
  left: 10%;
}
.tab-content h1 {
  color: #c6a514;
  font-size: 40px;
  margin-top: 10px;
}
.tab-content {
  display: none;
  padding: 30px;
}

.tab-content.active {
  display: block;
}
.skills-tab h1 {
  margin-top: 1rem;
}
.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
}
.about-content .social-links {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  gap: 7%;
}
.about-content .social-links .socail-icon {
  font-size: 40px;
  color: #c6a514;
}
.skills-container .skill-box {
  flex-basis: 45%;
  margin-top: 1rem;

  text-align: center;
  display: flex;
  padding: 0 0.7rem 0.5rem 2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 90px;

  border: 1px solid white;
}
.skill-box .skill-icon .icon {
  width: 50px;
  height: 50px;
  padding: 10px;

  color: white;
  color: #c6a514;

  font-size: 20px;
}
.tab-content p {
  color: #fff;
  line-height: 3rem;
}
.tab-content h3 {
  color: #c6a514;
  font-size: 23px;
  margin: 10px;
}

/* services section */

.services-section {
  background-color: var(--bg-eerie-black);
  width: 100%;
  padding: 4rem 2rem 3rem 2rem;
  font-family: "Syne", sans-serif;
  border-bottom: 1px solid hsla(229, 10%, 57%, 1);
}
.services-section h1 {
  color: #c6a514;
  font-size: 40px;
  font-family: "Syne", sans-serif;
  margin-left: 2rem;
}
.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 0 3rem 3rem 3rem;
}
.service-box {
  flex-basis: 32%;
  background-color: hsla(0, 0%, 100%, 1);
  color: var(--bg-eerie-black);
  font-family: "Syne", sans-serif;
  height: 350px;
  padding: 4rem;
  margin-top: 2rem;
}
.service-box .service-icon {
  width: 60px;
  height: 60px;
  font-weight: bold;
}
.service-box .service-heaing {
  margin-top: 10px;
  color: hsla(231, 10%, 14%, 1);
}
.services-section .service-content {
  color: hsla(229, 10%, 57%, 1);
  margin-top: 10px;
}
.service-box .service-icon {
  color: hsla(0, 0%, 13%, 1);
}
.service-box .service-number {
  align-self: flex-end;

  text-align: right;
  margin-top: 2.3rem;
  font-size: 40px;
  color: rgb(219, 221, 223);
}
.service-box:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 1);
  color: hsla(0, 0%, 100%, 1);
}
.service-box:hover .service-heaing,
.service-icon,
.service-content {
  color: hsla(0, 0%, 100%, 1);
}
.service-box:hover .service-icon {
  color: hsla(0, 0%, 100%, 1);
}

.service-box:hover .service-content {
  color: hsla(0, 0%, 100%, 1);
}

/* projects */
.portfolio-section {
  padding: 4rem 2rem 4rem 2rem;
  background-color: var(--bg-eerie-black);
  border-bottom: 1px solid hsla(229, 10%, 57%, 1);
}
.portfolio-section .portfolio-heading {
  color: #c6a514;
  margin: 2rem;
  font-size: 50px;
}
.portfolio-section .slider-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  align-items: flex-start;
}
.slider-item {
  flex-basis: 32%;
}
.project-card .card-banner::before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(231, 10%, 14%, 1);
  background-image: var(--gradient-2);
  opacity: 0;
  transition: var(--transition-1);
}

.project-card .card-banner:is(:hover, :focus-within)::before {
  opacity: 0.9;
}

.project-card .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  min-width: max-content;
  opacity: 0;
  transition: var(--transition-2);
}

.project-card .card-banner:is(:hover, :focus-within) .btn {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.project-card .card-content {
  padding: 24px 30px 0;
}

.project-card .card-subtitle {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-block-end: 10px;
}

.project-card .card-title {
  display: inline;
  background-image: linear-gradient(var(--bg-white), var(--bg-white));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: var(--transition-1);
}

.project-card .card-title:is(:hover, :focus-visible) {
  background-size: 100% 1px;
}

.slider-list {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  overflow: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 5px;
}

.slider-list::-webkit-scrollbar {
  display: none;
}

.slider-item {
  min-width: 100%;
  scroll-snap-align: start;
  margin-top: 1rem;
}
.slider-item .title {
  font-size: 21px;
}
/* Testimonials section */

.testimonials {
  padding: 4rem;
  width: 100%;

  background-color: var(--bg-eerie-black);
  border-bottom: 1px solid hsla(229, 10%, 57%, 1);
}
.testimonials h1 {
  color: #c6a514;
  margin-bottom: 20px;
  font-size: 40px;
}
.testimonials p {
  width: 90%;
  font-size: 20px;
  margin-bottom: 2rem;
}

/* Slideshow container */
.testimonials .slideshow-container {
  width: 80%;
  height: 70vh;
  position: relative;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid hsla(240, 1%, 83%, 1);
}

/* Hide the images by default */
.testimonials .mySlides {
  display: none;
}
.mySlides img {
  margin-top: 4px;
  height: 300px;
  height: 300px;
  border-radius: 50%;
}

/* Next & previous buttons */
.testimonials .prev,
.testimonials .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.testimonials .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.testimonials .prev:hover,
.testimonials .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.testimonials .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.testimonials .numbertext {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.testimonials .text-container h3 {
  text-decoration: underline;
}

/* The dots/bullets/indicators */
.testimonials .dot {
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 0 2px;
  background-color: hsla(0, 0%, 100%, 1);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.testimonials .dot img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.testimonials .active,
.testimonials .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.testimonials .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Contact me */
.contact-section {
  background-color: var(--bg-eerie-black);
  width: 100%;
  border-bottom: 1px solid hsla(229, 10%, 57%, 1);
}
.contact-section h1 {
  color: #c6a514;
  font-size: 40px;
  margin-left: 4rem;
}
.contact-section .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 4rem;
  flex-wrap: wrap;
}
.contact-container .contact-form {
  flex-basis: 47%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.contact-form input {
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid hsla(229, 10%, 57%, 1);
  padding: 20px 0;
  margin-top: 20px;
  color: hsla(0, 0%, 100%, 1);
}

.contact-form textarea {
  border: 1px solid hsla(229, 10%, 57%, 1);
  margin-top: 2rem;
  padding: 20px 0 0 20px;
  color: hsla(0, 0%, 100%, 1);
}
.contact-form a {
  margin-top: 2rem;
  width: 60%;
  color: #f2f2f2;
}
.contact-form a button span {
  color: #fff;
}
.contact-container .contact-details {
  flex-basis: 47%;
  border: 1px solid red;
}
.contact-container .contact-address {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 47%;

  flex-direction: column;
  padding: 2rem;
}
.contact-address .div-icon {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 2rem;
  font-size: 25px;
}

.contact-address .social-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-top: 2rem;
}
.social-address .social-address-icon {
  border-radius: 10px;
  border: 1px solid hsla(229, 10%, 57%, 1);
  font-size: 40px;
  color: #c6a514;
  cursor: pointer;
  padding: 2rem;
  border-radius: 50%;
}

.social-address .social-address-icon:hover {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(0, 0%, 0%, 1);
}

/* back to top */
.back-top-btn {
  position: fixed;
  bottom: 30px;
  right: -70px;
  width: 70px;
  height: 70px;
  border: 1px dashed currentColor;
  color: var(--bg-black);
  font-size: var(--fs-11);
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
  visibility: hidden;
  transition: var(--transition-2);
  z-index: 30000;
}

.back-top-btn.show {
  transform: translateX(-100px);
  visibility: visible;
}

.back-top-btn:hover {
  color: var(--white);
}
/* footer */

.footer {
  width: 100%;
  height: 70vh;
  background-color: var(--bg-eerie-black);
  color: hsla(0, 0%, 100%, 1);
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 4rem;
}
.footer-container .footer-left {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}
.footer .social-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer .social-address .social-address-icon {
  font-size: 20px;
  padding: 1rem;
  border-radius: 10px;
}
.footer-bottom {
  padding: 4rem 4rem 0 4rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin-top: 7.9rem;
}
.footer-bottom .links {
  flex-basis: 50%;
}
.footer-bottom .links .footerlinks {
  display: flex;
}
.footer-bottom .copyrigth {
  flex-basis: 45%;
  font-size: 20px;
  text-align: right;
}

/* Custom cursor */
.cursor-dot,
.cursor-outline {
  display: none;
}
