:root {
  /* background colors */
  --bg-white: hsla(0, 0%, 100%, 1);
  --bg-light-gray: hsla(240, 1%, 83%, 1);
  --bg-jet: hsla(0, 0%, 18%, 1);
  --bg-eerie-black: hsla(0, 0%, 13%, 1);
  --bg-rich-black-fogra-29: hsla(229, 23%, 9%, 1);
  --bg-smoky-black: hsla(0, 0%, 6%, 1);
  --bg-black: hsla(0, 0%, 0%, 1);

  /* gradient colors */
  --gradient-1: linear-gradient(to top, var(--bg-black) 0%, transparent 40%);
  --gradient-2: radial-gradient(
    circle at 75% 100%,
    hsla(79, 100%, 70%, 0.3) 0%,
    transparent 100%
  );

  /* text colors */
  --text-white: hsla(0, 0%, 100%, 1);
  --text-light-gray: hsla(240, 1%, 83%, 1);
  --text-rich-black-fogra-29: hsla(216, 42%, 12%, 1);
  --text-smoky-black: hsla(0, 0%, 6%, 1);
  --text-black: hsla(0, 0%, 0%, 1);

  /* border colors */
  --border-white: hsla(0, 0%, 100%, 1);
  --border-light-gray: hsla(240, 1%, 83%, 1);
  --border-gainsboro: hsla(220, 13%, 91%, 1);
  --border-eerie-black: hsla(0, 0%, 13%, 1);
  --border-smoky-black: hsla(0, 0%, 6%, 1);

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --fontFamily-recoleta: "Recoleta";
  --fontFamily-roboto: "Roboto", sans-serif;

  /* font size */
  --fontSize-1: 4.6rem;
  --fontSize-2: 4.5rem;
  --fontSize-3: 4rem;
  --fontSize-4: 3rem;
  --fontSize-5: 2.4rem;
  --fontSize-6: 1.8rem;
  --fontSize-7: 2rem;
  --fontSize-8: 1.6rem;
  --fontSize-9: 1.5rem;
  --fontSize-10: 1.4rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;

  /**
   * SPACING
   */

  --section-spacing: 70px;

  /**
   * BORDER RADIUS
   */

  --radius-pill: 500px;
  --radius-circle: 50%;

  /**
   * TRANSITION
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
textarea,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-black);
  color: var(--text-light-gray);
  font-family: var(--fontFamily-roboto);
  font-size: var(--fontSize-8);
  line-height: 1.75;
  overflow: hidden;
}

body.loaded {
  overflow-y: auto;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-inline-start: 1px solid var(--border-eerie-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-white);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.btn\:hover {
  position: relative;
  z-index: 1;
}

.btn\:hover::before,
.btn\:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: var(--transition-1);
  will-change: transform;
  pointer-events: none;
}

.btn\:hover::after {
  border: 1px solid var(--bg-white);
  transform: scale(1.2);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::before {
  transform: scale(0.5);
  opacity: 0;
}

.btn\:hover:is(:hover, :focus-visible)::after {
  transform: scale(1);
  opacity: 1;
}

.text-center {
  text-align: center;
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  overflow: hidden;
  background-color: var(--bg-jet);
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[data-tilt] {
  transition: var(--transition-3);
}

.title {
  color: var(--text-white);
  font-family: var(--fontFamily-recoleta);
  font-weight: var(--weight-regular);
}

.h1 {
  font-size: var(--fontSize-2);
  line-height: 1.2;
}

.h2,
.h3,
.h4,
.h5 {
  line-height: 1.3;
}

.h2 {
  font-size: var(--fontSize-3);
}

.h3 {
  font-size: var(--fontSize-4);
}

.h4 {
  font-size: var(--fontSize-5);
}

.h5 {
  font-size: var(--fontSize-7);
}

.h6 {
  font-size: var(--fontSize-6);
}

.btn {
  color: var(--text-white);
  font-size: var(--fontSize-9);
  font-weight: var(--weight-medium);
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: max-content;
  height: 56px;
  padding-inline: 30px;
}

.btn::before {
  background-color: var(--bg-smoky-black);
}

.btn ion-icon {
  font-size: 1.8rem;
  --ionicon-stroke-width: 50px;
}

.section {
  padding-block: var(--section-spacing);
  overflow-x: hidden;
}

/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  box-shadow: inset 55vw 0 0 0 var(--bg-white),
    inset -55vw 0 0 0 var(--bg-white);
  display: grid;
  place-items: center;
  z-index: 10;
}

.preloader.loaded {
  transition: 300ms ease 500ms;
  pointer-events: none;
  box-shadow: inset 0 0 0 0 var(--bg-white), inset 0 0 0 0 var(--bg-white);
}

.preloader .line {
  width: 1px;
  height: 100%;
  background-color: var(--bg-black);
  transition: var(--transition-2);
  animation: loading 1000ms linear forwards;
}

@keyframes loading {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(0.3);
  }
}

.preloader.loaded .line {
  animation: loaded 500ms ease forwards;
}

@keyframes loaded {
  0% {
    transform: scaleY(0.3);
  }

  100% {
    transform: scaleY(1);
    opacity: 0;
  }
}

.header .btn {
  display: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-black);
  padding-block: 20px;
  z-index: 4;
}

.header.active {
  position: fixed;
  background-color: var(--bg-jet);
  padding-block: 10px;
  animation: slideIn 500ms ease-out forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-open-btn {
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  gap: 6px;
}

.nav-open-btn .line {
  width: 24px;
  height: 2px;
  background-color: var(--bg-black);
  transition: var(--transition-1);
}

.nav-open-btn:is(:hover, :focus-visible) .line {
  background-color: var(--bg-white);
}

.nav-open-btn:is(:hover, :focus-visible) .line-1 {
  transform: scaleX(0.7);
}

.nav-open-btn::before {
  background-color: var(--bg-white);
}

.nav-open-btn::after {
  background-color: var(--bg-black);
}

.navbar {
  position: fixed;
  background-color: var(--bg-black);
  top: 0;
  left: -300px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  padding: 25px 20px;
  visibility: hidden;
  transition: 250ms var(--cubic-in);
  z-index: 3;
}

.navbar.active {
  transform: translateX(300px);
  visibility: visible;
  transition: 500ms var(--cubic-out);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block-end: 20px;
  border-block-end: 1px solid var(--border-smoky-black);
  margin-block-end: 10px;
}

.nav-close-btn {
  width: 30px;
  height: 30px;
  background-color: var(--bg-smoky-black);
  color: var(--text-white);
  font-size: 2rem;
  display: grid;
  place-items: center;
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.navbar-link {
  padding: 8px;
  margin-block-start: 4px;
}

.navbar-link:is(:hover, :focus-visible) {
  color: var(--text-white);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition-1);
}

.overlay.active {
  opacity: 0.5;
  pointer-events: all;
}

.cursor-dot,
.cursor-outline {
  display: none;
}

@media (min-width: 575px) {
  :root {
    --fontSize-1: 5.6rem;
    --fontSize-5: 3.2rem;
  }

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  :root {
    --fontSize-1: 6.6rem;
    --section-spacing: 100px;
  }

  .container {
    max-width: 720px;
  }

  /* Custom cursor */

  .cursor-dot,
  .cursor-outline {
    display: block;
    position: fixed;
    top: -60px;
    left: -60px;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-circle);
    z-index: 10;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
  }

  .cursor-dot {
    width: 60px;
    height: 60px;
    background-color: var(--bg-white);
    transform: translate(-50%, -50%) scale(0.1);
  }

  .cursor-dot.hovered {
    transform: translate(-50%, -50%) scale(1);
    mix-blend-mode: exclusion;
  }

  .cursor-outline {
    width: 30px;
    height: 30px;
    border: 2px solid var(--border-white);
    opacity: 0.5;
    transition-duration: 100ms;
  }

  .cursor-outline.hovered {
    opacity: 0;
  }
}
@media (min-width: 992px) {
  :root {
    --fontSize-2: 7rem;
  }

  .container {
    max-width: 960px;
  }
  .header .container {
    margin-inline: 0;
    min-width: 100%;
  }

  .nav-open-btn,
  .navbar-top {
    display: none;
  }

  .navbar {
    all: unset;
    display: block;
  }

  .navbar-list {
    display: flex;
    gap: 16px;
  }

  .header .btn {
    display: flex;
  }
}

@media (min-width: 1200px) {
  :root {
    --fontSize-2: 9rem;
    --fontSize-4: 4rem;
    --fontSize-5: 4rem;
    --fontSize-6: 2rem;
  }

  .header {
    padding-block: 40px;
  }

  .header .container {
    padding-inline: 60px;
  }

  .navbar-list {
    gap: 50px;
  }
}
@media (min-width: 1400px) {
  .header {
    padding-inline: 90px;
  }
}
